body {
  font-family: Arial, sans-serif;
  background: #ad2f2f;
  
}

.container {
  width: 80%;
  margin: auto;
}

section {
  background: white;
  padding: 15px;
  margin-top: 20px;
  border-radius: 5px;
}

input, button {
  margin: 5px;
  padding: 5px;
}
