/*Estilos Globais */

body {
  margin: 0;
  /* Usando a mesma fonte moderna que definimos no design */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  /* Cor de fundo cinza claro para a página toda (fora do container branco) */
  background-color: #e9ecef; 
  
  /* Cor do texto padrão */
  color: #333;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}